In [44]:
import pandas as pd
import numpy as np

In [45]:
gss = pd.read_hdf(r"C:\Muhammad Zeeshan\ComputerAndProgramming\Data Camp Journey\02-Data Analyst with Python\09 - Exploratary Data Analysis with Python\DataSet\gss.hdf5")

In [46]:
gss.head()

   year   age  cohort  sex  race  educ  realinc  gunlaw  grass  wtssall
0  1972  26.0  1946.0    1     1  18.0  13537.0     2.0    NaN   0.8893
1  1972  38.0  1934.0    2     1  12.0  18951.0     1.0    NaN   0.4446
2  1972  57.0  1915.0    1     1  12.0  30458.0     1.0    NaN   1.3339
3  1972  61.0  1911.0    2     1  14.0  37226.0     1.0    NaN   0.8893
4  1972  59.0  1913.0    1     1  12.0  30458.0     2.0    NaN   0.8893

In [47]:
import empiricaldist as emp

In [48]:
year = gss['year']

In [49]:
# # Compute the PMF for year
# pmf_year = Pmf('year', normalize=False)

# # Print the result
# print(pmf_year)

In [50]:
# # Select the age column
# age = gss['age']

# # Make a PMF of age
# pmf_age = Pmf(age)

# # Plot the PMF
# pmf_age.bar()

# # Label the axes
# plt.xlabel('Age')
# plt.ylabel('PMF')
# plt.show()

In [51]:
# # Select the age column
# age = gss['age']

# # Compute the CDF of age
# cdf_age = Cdf(age)

# # Calculate the CDF of 30
# print(cdf_age[30])

In [52]:
# # Calculate the 75th percentile 
# percentile_75th = cdf_income.inverse(0.75)

# # Calculate the 25th percentile
# percentile_25th = cdf_income.inverse(0.25)

# # Calculate the interquartile range
# iqr = percentile_75th - percentile_25th

# # Print the interquartile range
# print(iqr)

In [53]:
# # Select realinc
# income = gss["realinc"]

# # Make the CDF
# cdf_income = Cdf(income)

# # Plot it
# cdf_income.plot()

# # Label the axes
# plt.xlabel('Income (1986 USD)')
# plt.ylabel('CDF')
# plt.show()

In [54]:
educ = gss["educ"]

In [55]:
len(educ[educ<=12])

33162

In [56]:
33162/62466

0.5308807991547402

In [57]:
# Select educ
educ = gss['educ']

# Bachelor's degree
bach = (educ >= 16)

# Associate degree
assc = (educ >= 14) & (educ < 16)

# High school
high = (educ <= 12)
print(high.mean())

0.5308807991547402

In [58]:
# income = gss['realinc']

# # Plot the CDFs
# Cdf(income[high]).plot(label='High school')
# Cdf(income[assc]).plot(label='Associate')
# Cdf(income[bach]).plot(label='Bachelor')

# # Label the axes
# plt.xlabel('Income (1986 USD)')
# plt.ylabel('CDF')
# plt.legend()
# plt.show()

In [59]:
# Extract realinc and compute its log
income = gss['realinc']
log_income = np.log10(income)

# Compute mean and standard deviation
mean = log_income.mean()
std = log_income.std()
print(mean, std)

# Make a norm object
from scipy.stats import norm
dist = norm(mean, std)

4.371148677933652 0.4290082383271419

In [ ]:
# # Evaluate the model CDF
# xs = np.linspace(2, 5.5)
# ys = dist.cdf(xs)

# # Plot the model CDF
# plt.clf()
# plt.plot(xs, ys, color='gray')

# # Create and plot the Cdf of log_income
# Cdf(log_income).plot()
    
# # Label the axes
# plt.xlabel('log10 of realinc')
# plt.ylabel('CDF')
# plt.show()

In [ ]:
# # Evaluate the normal PDF
# xs = np.linspace(2, 5.5)
# ys = dist.pdf(xs)

# # Plot the model PDF
# plt.clf()
# plt.plot(xs, ys, color='gray')

# # Plot the data KDE
# sns.kdeplot(log_income)
    
# # Label the axes
# plt.xlabel('log10 of realinc')
# plt.ylabel('PDF')
# plt.show()