In [1]:
import pandas as pd

In [2]:
brfss = pd.read_hdf(r"C:\Muhammad Zeeshan\ComputerAndProgramming\Data Camp Journey\02-Data Analyst with Python\09 - Exploratary Data Analysis with Python\DataSet\brfss.hdf5")

In [3]:
brfss.head(3)

,SEX,HTM4,WTKG3,INCOME2,_LLCPWT,_AGEG5YR,_VEGESU1,_HTMG10,AGE
96230,2.0,160.0,60.33,8.0,1398.525290,6.0,2.14,150.0,47.0
244920,2.0,163.0,58.97,5.0,84.057503,13.0,3.14,160.0,89.5
57312,2.0,163.0,72.57,8.0,390.248599,5.0,2.64,160.0,42.0